<h1>Usuarios registrados</h1>
<div class="clear"></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Salario</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of users">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.salary}}</td>
      <td>
        <img src="../../assets/editar.png" class="editIcon" (click)="edit(item)">
        <img src="../../assets/eliminar.png" class="editIcon" (click)="delete(item)">
      </td>
    </tr>
  </tbody>
</table>